div{
    width:100px;
    height:100px;
    background-color: #eee;
    margin: 20px auto;
    box-shadow: 0 0 10px 0 inset;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius:15px 30px ;
    border-bottom-right-radius:15px 30px;
}