.assign-1-shape-1,
.assign-1-shape-2,
.assign-1-shape-3 {
    width: 400px;
    padding: 20px;
    margin: 80px auto;
    background-color: #ddd;
}

.assign-1-shape-1 {
    border-left: 10px solid red;
    outline: 10px solid #ddd;
}

.assign-1-shape-2 {
    border-left: 10px solid green;
    outline: 10px solid #ddd;

}

.assign-1-shape-3 {
    border-right: 5px solid black;
    outline: 10px solid #ddd;
}