.parent{
    width: 500px;
    height: 400px;
    background-color:#eee;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 30px;
    position: relative;
}

.E,
.L{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(7,1fr);
    /* gap: 50px 50px; */
}
.E div, .L div{
    background-color: black;   
}
.E .one {
    /*  grid-area: 1/1/1/3; */
    grid-area: 1/1/1/5;
}
.E .two {
    /* grid-area: 2/1/2/3; */
    grid-area: 2/1/4/2;
}
.E .three {
    /* grid-area: 3/2/1/1; */
    grid-area: 4/1/5/5;
}
.E .four {
    /* grid-area: 4/2/2/1; */
    grid-area: 5/1/7/2;
}
.E .five {
    /* grid-area: 3/3/4/1; */
    grid-area: 7/1/7/5;

}
.parent::before{
    content:"";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #fea604;
    top: 7px;
    left: 190px;
    animation-name: moveE;
    animation-duration:6s;
    animation-timing-function:linear ;
}
@keyframes moveE {
    0%{
        top: 7px;
        left: 190px;
    }
    10%{
        top: 7px;
        left:9px;
    }
    20%{
        left: 9px;
        top: 180px;
    }
    30%{
        top:180px;
        left:190px;
    }
    40%{
        top: 180px;
        left:9px
    }
    50%{
        left: 9px;
        top: 350px;
    }
    60%{
        top: 350px;
        left:190px
    }
    70%{
        left: 9px;
        top: 350px;
    }
    90%{
        top: 7px;
        left:9px;
    }
    100%{
        top: 7px;
        left: 190px;
    }

}
.L .one {
    /* grid-area: 1/1/1/3; */
    grid-area: 1/1/7/2;
}
.L .two {
    /* grid-area: 2/1/2/3; */
    grid-area: 7/1/8/5;
}
.parent::after{
    content:"";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #fea604;
    bottom: 9px;
    right: 7px;
    opacity: 0;
    animation-name: moveL;
    animation-delay: 6s;
    animation-duration:4s;
    animation-timing-function: linear;
}
@keyframes moveL {
    0%{
        bottom: 9px;
        right: 7px;
        opacity: 0;
    }
    10%{
        bottom: 9px;
        right: 7px;
        opacity: 1;
    }
    30%{
        bottom: 9px;
        right: 185px;
        opacity: 1;
    }
    90%{
        right: 185px;
        bottom: 355px;
        opacity: 1;
    }
    100%{
        right: 185px;
        bottom: 355px;
        opacity: 0;
    }
}
